mixin social-links(params = {})
  -
    const {
      socialLinks = [],
      forHeader = false,
      forFooter= false,
      forConsultation = false,
    } = params;

    const socialLinkHeader = forHeader ? "social-links__link_header" : "";

  .social-links
    if forHeader
      each link in socialLinks
        a.social-links__link(
          class= `social-links__link_${link.modHeader} ${socialLinkHeader}`,
          href= link.href,
          target= "_blank",
          rel= "noopener noreferrer"
          )
          img.social-links__img(
            src= link.imgSrc
            alt= link.name,
          )
    if forConsultation
      a.social-links__link(
        class= "social-links__link_consultation social-links__link_vk_cons"
        href= "/mock-address/change-me",
        target= "_blank",
        rel= "noopener noreferrer"
      )
        <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_1_382)">
            <path class="social-links__svg-path" d="M19.0852 12.4852C18.7134 12.0156 18.8197 11.8067 19.0852 11.3869C19.09 11.3821 22.1595 7.14055 22.4758 5.70209L22.4777 5.70113C22.6349 5.17692 22.4777 4.79167 21.7177 4.79167H19.2031C18.5629 4.79167 18.2677 5.1223 18.1096 5.49221C18.1096 5.49221 16.8293 8.55696 15.018 10.5436C14.4335 11.1176 14.1632 11.3016 13.8441 11.3016C13.6869 11.3016 13.4425 11.1176 13.4425 10.5934V5.70113C13.4425 5.07246 13.2633 4.79167 12.7334 4.79167H8.77928C8.37774 4.79167 8.13912 5.08492 8.13912 5.35805C8.13912 5.95413 9.04474 6.09117 9.13866 7.76826V11.407C9.13866 12.2044 8.99395 12.351 8.67291 12.351C7.81808 12.351 5.74328 9.2738 4.51374 5.75192C4.26553 5.06863 4.02308 4.79263 3.37812 4.79263H0.862492C0.144701 4.79263 -7.62939e-06 5.12325 -7.62939e-06 5.49317C-7.62939e-06 6.14676 0.854825 9.39646 3.97516 13.6898C6.05474 16.6204 8.98341 18.2083 11.6476 18.2083C13.249 18.2083 13.4445 17.8557 13.4445 17.249C13.4445 14.4488 13.2997 14.1843 14.1019 14.1843C14.4737 14.1843 15.1139 14.3683 16.6089 15.7818C18.3176 17.458 18.5984 18.2083 19.5548 18.2083H22.0695C22.7863 18.2083 23.1495 17.8557 22.9406 17.1599C22.4624 15.6965 19.2309 12.6864 19.0852 12.4852V12.4852Z" fill="#EA6628"/>
          </g>
          <defs>
            <clipPath id="clip0_1_382">
              <rect width="23" height="23" fill="white"/>
            </clipPath>
          </defs>
        </svg>
      a.social-links__link(
        class= "social-links__link_consultation social-links__link_telegram_cons"
        href= "/mock-address/change-me",
        target= "_blank",
        rel= "noopener noreferrer"
      )
        <svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_1_380)">
            <path class="social-links__svg-path" d="M8.6323 14.5485L8.26838 19.8998C8.78905 19.8998 9.01455 19.666 9.28497 19.3852L11.726 16.9462L16.7842 20.8188C17.7119 21.3593 18.3655 21.0747 18.6157 19.9266L21.9359 3.6618L21.9368 3.66084C22.231 2.22717 21.4409 1.66655 20.537 2.01825L1.02122 9.82963C-0.310701 10.3701 -0.290535 11.1464 0.794799 11.4981L5.78421 13.1205L17.3736 5.53917C17.919 5.16159 18.415 5.37051 18.007 5.74809L8.6323 14.5485Z" fill="#EA6628"/>
          </g>
          <defs>
            <clipPath id="clip0_1_380">
              <rect width="22" height="23" fill="white"/>
            </clipPath>
          </defs>
        </svg>
      a.social-links__link(
        class= "social-links__link_consultation social-links__link_instagram_cons"
        href= "/mock-address/change-me",
        target= "_blank",
        rel= "noopener noreferrer"
      )
        <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_1_376)">
            <path class="social-links__svg-path" d="M13.1275 0H4.87243C2.18573 0 0 2.30716 0 5.14312V13.857C0 16.6928 2.18573 19 4.87243 19H13.1277C15.8142 19 18 16.6928 18 13.857V5.14312C18 2.30716 15.8142 0 13.1275 0V0ZM8.99998 14.6951C6.28609 14.6951 4.07825 12.3646 4.07825 9.49998C4.07825 6.63532 6.28609 4.30482 8.99998 4.30482C11.7139 4.30482 13.9217 6.63532 13.9217 9.49998C13.9217 12.3646 11.7139 14.6951 8.99998 14.6951ZM14.0394 5.53001C13.2374 5.53001 12.5851 4.84146 12.5851 3.9949C12.5851 3.14835 13.2374 2.45965 14.0394 2.45965C14.8414 2.45965 15.4939 3.14835 15.4939 3.9949C15.4939 4.84146 14.8414 5.53001 14.0394 5.53001Z" fill="#EA6628"/>
            <path class="social-links__svg-path" d="M8.99999 5.41864C6.8681 5.41864 5.1335 7.24946 5.1335 9.49994C5.1335 11.7503 6.8681 13.5812 8.99999 13.5812C11.132 13.5812 12.8665 11.7503 12.8665 9.49994C12.8665 7.24946 11.132 5.41864 8.99999 5.41864Z" fill="#EA6628"/>
            <path class="social-links__svg-path" d="M14.0394 3.57363C13.8194 3.57363 13.6403 3.76266 13.6403 3.99488C13.6403 4.2271 13.8194 4.41613 14.0394 4.41613C14.2596 4.41613 14.4386 4.22725 14.4386 3.99488C14.4386 3.76251 14.2596 3.57363 14.0394 3.57363Z" fill="#EA6628"/>
          </g>
          <defs>
            <clipPath id="clip0_1_376">
              <rect width="18" height="19" fill="white"/>
            </clipPath>
          </defs>
        </svg>
      a.social-links__link(
        class= "social-links__link_consultation social-links__link_whatsapp_cons"
        href= "/mock-address/change-me",
        target= "_blank",
        rel= "noopener noreferrer"
      )
        <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_1_372)">
            <path class="social-links__svg-path" d="M9.00225 0H8.99775C4.03538 0 0 4.26075 0 9.5C0 11.5781 0.6345 13.5043 1.71337 15.0682L0.59175 18.5974L4.05113 17.4301C5.47425 18.4253 7.17188 19 9.00225 19C13.9646 19 18 14.7381 18 9.5C18 4.26194 13.9646 0 9.00225 0ZM14.2391 13.4152C14.022 14.0624 13.1602 14.5991 12.4729 14.7559C12.0026 14.8616 11.3884 14.9459 9.32063 14.041C6.67575 12.8844 4.9725 10.0474 4.83975 9.86337C4.71263 9.67931 3.771 8.36119 3.771 6.99794C3.771 5.63469 4.42688 4.97088 4.69125 4.68587C4.90838 4.45194 5.26725 4.34506 5.6115 4.34506C5.72288 4.34506 5.823 4.351 5.913 4.35575C6.17737 4.36762 6.31012 4.38425 6.4845 4.82481C6.70162 5.377 7.23037 6.74025 7.29338 6.88038C7.3575 7.0205 7.42163 7.2105 7.33162 7.39456C7.24725 7.58456 7.173 7.66887 7.04025 7.83037C6.9075 7.99187 6.7815 8.11537 6.64875 8.28875C6.52725 8.43956 6.39 8.60106 6.543 8.88013C6.696 9.15325 7.22475 10.0641 8.00325 10.7956C9.00787 11.7396 9.82237 12.0413 10.1137 12.1695C10.3309 12.2645 10.5896 12.2419 10.7483 12.0638C10.9496 11.8346 11.1982 11.4546 11.4514 11.0806C11.6314 10.8122 11.8586 10.7789 12.0971 10.8739C12.3401 10.963 13.626 11.6339 13.8904 11.7729C14.1547 11.913 14.3291 11.9795 14.3932 12.0971C14.4562 12.2146 14.4562 12.7668 14.2391 13.4152Z" fill="#EA6628"/>
          </g>
          <defs>
            <clipPath id="clip0_1_372">
              <rect width="18" height="19" fill="white"/>
            </clipPath>
          </defs>
        </svg>
    if forFooter
      a.social-links__link(
        class= "social-links__link_footer social-links__link_vk_footer"
        href= "/mock-address/change-me",
        target= "_blank",
        rel= "noopener noreferrer"
      )
        <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_3043_149)">
            <path class="social-links__svg-path social-links__svg-path_footer" d="M19.0852 12.4852C18.7134 12.0157 18.8198 11.8067 19.0852 11.387C19.09 11.3822 22.1595 7.14062 22.4758 5.70216L22.4777 5.70121C22.6349 5.177 22.4777 4.79175 21.7178 4.79175H19.2031C18.5629 4.79175 18.2677 5.12237 18.1096 5.49229C18.1096 5.49229 16.8293 8.55704 15.018 10.5437C14.4335 11.1177 14.1632 11.3017 13.8441 11.3017C13.6869 11.3017 13.4425 11.1177 13.4425 10.5935V5.70121C13.4425 5.07254 13.2633 4.79175 12.7334 4.79175H8.77929C8.37775 4.79175 8.13913 5.085 8.13913 5.35812C8.13913 5.95421 9.04475 6.09125 9.13867 7.76833V11.4071C9.13867 12.2045 8.99396 12.3511 8.67292 12.3511C7.81808 12.3511 5.74329 9.27387 4.51375 5.752C4.26554 5.06871 4.02308 4.79271 3.37813 4.79271H0.8625C0.144708 4.79271 0 5.12333 0 5.49325C0 6.14683 0.854833 9.39654 3.97517 13.6899C6.05475 16.6205 8.98342 18.2084 11.6476 18.2084C13.249 18.2084 13.4445 17.8558 13.4445 17.2491C13.4445 14.4489 13.2998 14.1844 14.1019 14.1844C14.4737 14.1844 15.1139 14.3684 16.6089 15.7819C18.3176 17.458 18.5984 18.2084 19.5548 18.2084H22.0695C22.7863 18.2084 23.1495 17.8557 22.9406 17.16C22.4624 15.6966 19.2309 12.6865 19.0852 12.4852Z" fill="#4C858B"/>
          </g>
          <defs>
            <clipPath id="clip0_3043_149">
              <rect width="23" height="23" fill="white"/>
            </clipPath>
          </defs>
        </svg>
      a.social-links__link(
        class= "social-links__link_footer social-links__link_telegram_footer"
        href= "/mock-address/change-me",
        target= "_blank",
        rel= "noopener noreferrer"
      )
        <svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_3043_147)">
            <path class="social-links__svg-path social-links__svg-path_footer" d="M8.63229 14.5484L8.26837 19.8998C8.78904 19.8998 9.01454 19.6659 9.28496 19.3852L11.726 16.9462L16.7842 20.8188C17.7119 21.3593 18.3655 21.0747 18.6157 19.9266L21.9359 3.66177L21.9368 3.66082C22.231 2.22715 21.4409 1.66652 20.537 2.01823L1.02121 9.82961C-0.310709 10.3701 -0.290542 11.1464 0.794791 11.4981L5.78421 13.1205L17.3736 5.53915C17.919 5.16157 18.415 5.37048 18.007 5.74807L8.63229 14.5484Z" fill="#4C858B"/>
          </g>
          <defs>
            <clipPath id="clip0_3043_147">
              <rect width="22" height="23" fill="white"/>
            </clipPath>
          </defs>
        </svg>
      a.social-links__link(
        class= "social-links__link_footer social-links__link_instagram_footer"
        href= "/mock-address/change-me",
        target= "_blank",
        rel= "noopener noreferrer"
      )
        <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_3043_143)">
            <path class="social-links__svg-path social-links__svg-path_footer" d="M13.1275 0H4.87243C2.18573 0 0 2.30716 0 5.14312V13.857C0 16.6928 2.18573 19 4.87243 19H13.1277C15.8142 19 18 16.6928 18 13.857V5.14312C18 2.30716 15.8142 0 13.1275 0V0ZM8.99998 14.6951C6.28609 14.6951 4.07825 12.3646 4.07825 9.49998C4.07825 6.63532 6.28609 4.30482 8.99998 4.30482C11.7139 4.30482 13.9217 6.63532 13.9217 9.49998C13.9217 12.3646 11.7139 14.6951 8.99998 14.6951ZM14.0394 5.53001C13.2374 5.53001 12.5851 4.84146 12.5851 3.9949C12.5851 3.14835 13.2374 2.45965 14.0394 2.45965C14.8414 2.45965 15.4939 3.14835 15.4939 3.9949C15.4939 4.84146 14.8414 5.53001 14.0394 5.53001Z" fill="#4C858B"/>
            <path class="social-links__svg-path social-links__svg-path_footer" d="M8.99998 5.4187C6.86808 5.4187 5.13348 7.24952 5.13348 9.5C5.13348 11.7503 6.86808 13.5813 8.99998 13.5813C11.132 13.5813 12.8665 11.7503 12.8665 9.5C12.8665 7.24952 11.132 5.4187 8.99998 5.4187Z" fill="#4C858B"/>
            <path class="social-links__svg-path social-links__svg-path_footer" d="M14.0394 3.57373C13.8194 3.57373 13.6404 3.76276 13.6404 3.99498C13.6404 4.2272 13.8194 4.41623 14.0394 4.41623C14.2596 4.41623 14.4386 4.22735 14.4386 3.99498C14.4386 3.76261 14.2596 3.57373 14.0394 3.57373Z" fill="#4C858B"/>
          </g>
          <defs>
            <clipPath id="clip0_3043_143">
              <rect width="18" height="19" fill="white"/>
            </clipPath>
          </defs>
        </svg>
      a.social-links__link(
        class= "social-links__link_footer social-links__link_whatsapp_footer"
        href= "/mock-address/change-me",
        target= "_blank",
        rel= "noopener noreferrer"
      )
        <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_3043_139)">
            <path class="social-links__svg-path social-links__svg-path_footer" d="M9.00225 0H8.99775C4.03538 0 0 4.26075 0 9.5C0 11.5781 0.6345 13.5043 1.71337 15.0682L0.59175 18.5974L4.05113 17.4301C5.47425 18.4253 7.17188 19 9.00225 19C13.9646 19 18 14.7381 18 9.5C18 4.26194 13.9646 0 9.00225 0ZM14.2391 13.4152C14.022 14.0624 13.1602 14.5991 12.4729 14.7559C12.0026 14.8616 11.3884 14.9459 9.32063 14.041C6.67575 12.8844 4.9725 10.0474 4.83975 9.86337C4.71263 9.67931 3.771 8.36119 3.771 6.99794C3.771 5.63469 4.42688 4.97088 4.69125 4.68587C4.90838 4.45194 5.26725 4.34506 5.6115 4.34506C5.72288 4.34506 5.823 4.351 5.913 4.35575C6.17737 4.36762 6.31012 4.38425 6.4845 4.82481C6.70162 5.377 7.23037 6.74025 7.29338 6.88038C7.3575 7.0205 7.42163 7.2105 7.33162 7.39456C7.24725 7.58456 7.173 7.66887 7.04025 7.83037C6.9075 7.99187 6.7815 8.11537 6.64875 8.28875C6.52725 8.43956 6.39 8.60106 6.543 8.88013C6.696 9.15325 7.22475 10.0641 8.00325 10.7956C9.00787 11.7396 9.82237 12.0413 10.1137 12.1695C10.3309 12.2645 10.5896 12.2419 10.7483 12.0638C10.9496 11.8346 11.1982 11.4546 11.4514 11.0806C11.6314 10.8122 11.8586 10.7789 12.0971 10.8739C12.3401 10.963 13.626 11.6339 13.8904 11.7729C14.1547 11.913 14.3291 11.9795 14.3932 12.0971C14.4562 12.2146 14.4562 12.7668 14.2391 13.4152Z" fill="#4C858B"/>
          </g>
          <defs>
            <clipPath id="clip0_3043_139">
              <rect width="18" height="19" fill="white"/>
            </clipPath>
          </defs>
        </svg>

